.body {
  min-height: 100%;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #fff;
  background-image: url(/images/background_header.svg);
  background-size: cover;
  background-position: center;
}

.header {
  max-height: 720px;
  min-height: 800px;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  margin-top: 30px;
  margin-left: 30px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin-top: 30px;
  margin-right: 80px;
}

.nav__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000;
}

.header-span {
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__title {
  max-width: 709px;
  padding-left: 80px;
  padding-top: 183px;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__description {
  max-width: 683px;
  padding-left: 80px;
  padding-top: 28px;
  margin: 0;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  padding: 0 80px 40px;
  margin-top: auto;
  align-items: end;
}

.header__paragraph {
  margin: 0;
}

.header__footer p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.recipes {
  background-image: url(/images/background_recipes.svg);
  background-size: cover;
  background-position: center;
  background-color: #0a2750;
  margin: 0;
  color: #fff;
}

.recipes__title {
  max-width: 580px;
  margin: 0;
  padding-top: 100px;
  padding-left: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 0;
  padding-left: 80px;
  padding-top: 24px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__iframe {
  width: 480px;
  height: 276px;
  border: none;
}

.recipes__video-captions {
  display: flex;
  justify-content: space-between;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-top: 80px;
  padding-bottom: 215px;
  list-style-type: none;
  margin: 0;
}

.recipes__video-caption {
  margin: 0;
  padding-top: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.reservation {
  background-image: url(../images/background_reservation.svg);
  background-color: #d9e7ff;
  background-position: center;
  background-size: cover;
  padding: 100px 0 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation__title {
  margin: 0 0 80px 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 385px;
}

.reservation__form {
  margin: 0 auto;
}

.form__fieldset {
  padding: 0;
  border: none;
  width: 100%;
}

.form__label {
  display: block;
  margin: 0 0 8px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  padding: 0;
  width: 385px;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 32px;
  height: 60px;
  padding: 15px 20px;
  border: none;
}

.form__item::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__button {
  border-radius: 4px;
  height: 60px;
  margin-bottom: 32px;
  padding: 0;
  background-color: #2f80ed;
  color: #fff;
  border: none;
}

.form__label-checkbox {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.form__input-term {
  width: 20px;
  height: 20px;
}
